<div class="menu-slider">
    <form class="menu-slider__search">
        <input class="menu-slider__search-input" type="text" name="search" placeholder="search">
        <input class="menu-slider__search-submit" type="submit" value="">
    </form>
    <ul class="menu-slider__nav">
        <li class="menu-slider__block">
            <a class=="menu-slider__link" href="index.html">home</a>
        </li>
        <li class="menu-slider__block">
            <a class="menu-slider__link" href="profile.html">profile</a>
    </ul>
    <footer class="menu-slider__footer">
        <div class="menu-slider__footer_logo"></div>
        <div class="menu-slider__footer_copyright">Designed & Developed by PixelBuddha Team</div>
    </footer>
</div>
