{{#> layout/base }}

{{#*inline "main-block"}}
<main class = "profile">
    <div class = "title">Profile</div>
    <div class = "profile__divider"></div>
    <section class="profile__section">
        <form class="form">
            <div class="form__textblock">
                <label class = "form__textblock-name" for="first_name">First Name</label>
                <input class = "form__textblock-input" id ="first_name" name="first_name" type="text" placeholder="John" autofocus tabindex="1">
            </div>
            <div class="form__textblock">
                <label class = "form__textblock-name" for="last_name">Last Name</label>
                <input class = "form__textblock-input" id ="last_name" name="last_name" type="text" placeholder="Doe" tabindex="2">
            </div>
            <div class="form__textblock">
                <label class = "form__textblock-name" for="email_address">E-mail</label>
                <input class = "form__textblock-input" id ="email_address" name="email_address" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="jhondoe@gmail.com" tabindex="3">
            </div>
            <div class="form__textblock">
                <label class = "form__textblock-name" for="phone_number">Phone</label>
                <input class = "form__textblock-input" id="phone_number" name="phone_number" type="tel" pattern="\d\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" placeholder="+_(___)-__-__" tabindex="4">
            </div>
            <div class="form__textblock" >
                <label class = "form__textblock-name" for="birth_date">Date of birth</label>
                <input class = "form__textblock-input form__datepickericon" id="birth_date" name="birth_date" type="text" placeholder="DD/MM/YYYY" tabindex="5">
            </div>
            <div class="form__textblock">
                <label class = "form__textblock-name">Sex</label>
                <div class="radio">
                    <input id="male" name="sex" type="radio" checked value="male">
                    <label for="male" class="radio-label">Male</label>
                </div>
                <div class="radio">
                    <input id="female" name="sex" type="radio" value="female">
                    <label for="female" class="radio-label">Female</label>
                </div>
            </div>
            <div class="form__textblock">
                <input class = "button" type="submit" value="submit">
            </div>
        </form>
    </section>
</main>
{{/inline}}

{{/layout/base }}