{{#> layout/base }}

{{#*inline "main-block"}}
    <main class="main">
        <section class="articles">
            <article class="article">
                <div class="article_content">
                    <div class="article__header">
                        <div class="article__pagemark">I Do travel</div>
                        <div class="article__date">Sep 20</div>
                        <h2 class="article__heading">No difference how many peaks you reach if there was no pleasure in
                            the climb.</h2>
                    </div>
                    <div class="article__text_normal">
                        <p class="paragraph">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet.
                            Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque
                            turpis, ut maximus metus.
                            Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel
                            sollicitudin orci egestas.
                            Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
                            Ut vitae rutrum augue, in volutpat quam.
                            Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
                            Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                    </div>
                    <div class="article__footer">
                        <a class="button" href="">Read more</a>
                        <ul class="hash-tags">
                            <li class="hash-tags__item"><a class="hash-tags__link" href="">#Yosemite</a></li>
                            <li class="hash-tags__item"><a class="hash-tags__link" href="">#Peak</a></li>
                            <li class="hash-tags__item"><a class="hash-tags__link" href="">#Explorer</a></li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="article">
                <img class="article__photo" srcset="./images/article_photo.jpg 1x,./images/article_photo@2x.jpg 2x" width="952" height="533" alt="mountains">
                <div class="article_content">
                <header class="article__header">
                    <div class="article__pagemark">I Do observe</div>
                    <div class="article__date">Sep 18</div>
                    <h2 class="article__heading">You know, I'd rather argue with you, then laugh with anyone else.</h2>
                </header>
                <div class="article__text_quote">
                    <p class="paragraph">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus.
                    Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus.
                    Proin aliquet ex massa, ac finibus magna commodo vitae.
                    </p>
                </div>
                <div class="article__text_normal">
                    <p class="paragraph">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet.
                    Ut ac elementum urna. Pellentesque suscipit metus et egestas congue.
                    Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue.
                    Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur.
                    Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
                    Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="paragraph">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra.
                    Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat.
                    Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut
                    </p>
                </div>
                <footer class="article__footer">
                    <a class="button" href="">Read more</a>
                    <div class="hash-tags">
                        <li class="hash-tags__item"><a class="hash-tags__link" href="">#Yosemite</a></li>
                        <li class="hash-tags__item"><a class="hash-tags__link" href="">#Peak</a></li>
                        <li class="hash-tags__item"><a class="hash-tags__link" href="">#Photo</a></li>
                    </div>
                </footer>
                </div>
            </article>
        </section>
    </main>
{{/inline}}

{{/layout/base }}