$font-Lato: "Lato", serif;
$font-LatoBold: "LatoBold", serif;

$primary-color: #f7f9fC;
$primary-shadow-color: rgba(0, 0, 0, 0.1);
$primary-text-color: #333;
$main-background-color: #ffffff;
$divider-color: #eeeeee;
$block-name-color: #000000;
$block-input-color: #333333;
$focus-border-color: #5c6bc0;
$button-text-color: #5c6bc0;
$hover-border-color: #f1f1f1;
$active-border-color: #7d89cd;






